logs
project/project
project/target
target
tmp
output
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/project/*-shim.sbt
*.class
derby.log
metastore
.DS_Store
init.d
.sbtserver
project/.sbtserver
project/.sbtserver.lock
project/play-fork-run.sbt
project/sbt-ui.sbt
.ensime
.ensime_cache
notebooks/.ipynb_checkpoints/
